/*opgave 1*/
#ballOne {
  background-color: rgb(5, 109, 19);
  color: antiquewhite;
  width: 100px;
  height: 100px;
  text-align: center;
  border-radius: 50px;
  margin: 1rem;


  animation-duration: 400ms;
  animation-timing-function: ease-out;
  animation-fill-mode: both;

}

.animateDown{
  animation-name: goDown;
}


.animateUp{
  animation-name: goUp;
}


.animateLeft {
  animation-name: goLeft;
}

@keyframes goUp {
  from {
    transform: translateY(0px) scale(0%);
  }

  to {
    transform: translateY(500px) scale(100%);
  }
}


@keyframes goDown {
  from {
    transform: translateY(0px) scale(0%);
  }

  to {
    transform: translateY(500px) scale(100%);
  }
}


.animateRight {
  animation-iteration-count: 1;
  animation-timing-function: ease;
  animation-duration: 500ms;
  animation-name: goRight;
}

@keyframes goRight {
  from {
    right: 0px;
  }

  to {
    right: 500px;
  }
}


/*opgave 2*/

.balls {
  background-color: rgb(241, 139, 6);
  color: antiquewhite;
  width: 100px;
  height: 100px;
  text-align: center;
  border-radius: 50px;
  margin: 1rem;


  animation-duration: 400ms;
  animation-timing-function: ease-out;
  animation-fill-mode: both;

}

.hardBalls {
  background-color: rgb(155, 13, 13);
  color: antiquewhite;
  width: 100px;
  height: 100px;
  text-align: center;
  border-radius: 50px;
  margin: 1rem;
  animation-iteration-count: infinite;
  animation-duration: 2s;
  animation-timing-function: ease-out;
  animation-fill-mode: both;
}



@keyframes goRight {
  0% {
    transform: translateX(0px) scale(100%);
  }

  50% {
    transform: translateX(500px) scale(25%);
  }

  100% {
    transform: translateX(0px) scale(100%);
  }
}

@keyframes goLeft {
  0% {
    transform: translateX(0px) scale(100%);

  }

  50% {
    transform: translateX(-500px) scale(25%);
  }

  100% {
    transform: translateX(0px) scale(100%);
  }

}